# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/

# Data outputs
result.csv

# System Files
.DS_Store